<!DOCTYPE html>
<html lang="ja"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{siteAuthor}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{siteTitle}}</title>
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <link rel="stylesheet" href="css/neat.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    {{>site/templates/header.html}}
    <div class="headerlike-right"><a href="index-e.html" style="font-weight: bold;">EN</a></div>
    <h1> 海洋大循環研究グループ </h1>
<!-- -->
    <div class="row" style="margin; lem 0 lem 0;">
         <div id="katsface"></div>
         <div><h2>勝又 勝郎 </h2>
               <a class="ext-link" href="https://orcid.org/0000-0002-4683-7610">
               <img src="images/orcid-logo.png" width="32" height="32" alt="OrcID Profile"/>
               </a>
               <a class="ext-link" href="https://github.com/{{githubUser}}">
               <img src="images/github-logo.png" width="32" height="32" alt="Github Profile"/>
               </a>
               <a class="ext-link" href="https://bsky.app/profile/{{bskyHandle}}">
               <img src="images/Bluesky.png" width="32" height="32" alt="BlueSky Profile"/>
               </a>
         </div>
    </div>

    <p> 海洋の流れは乱流です。それでいて、ときに海流のような秩序を示します。そのような対象をどのように理解出来るか。
        そんな問題意識を持ってフロートや船舶や人工衛星で取得されたデータを調べています。</p>

    <ol>
        <li><a href="https://www.s.u-tokyo.ac.jp/ja/people/katsumata_katsuro/">メールアドレス・電話番号・研究の概要</a></li>
        <li><a href="https://researchmap.jp/kkatsumata/?lang=ja">経歴・論文</a></li>
        <li><a href="research/research.html">研究内容</a></li>
        <li><a href="https://secure.eps.s.u-tokyo.ac.jp/jp/member/index.php?_urid=4903&_lang=ja">研究内容 10 行</a> ・ 
            <a href="https://www-aos.eps.s.u-tokyo.ac.jp/staff.html">研究内容 5 行</a></li>
        <li><a href="https://researchmap.jp/kkatsumata/研究ブログ/">計算機作業メモ</a></li>
        <li><a href="posts/post-list.html">ブログ</a></li>
    </ol>
<!-- -->
    <div class="row" style="margin; lem 0 lem 0;">
         <div id="ijichiface"></div>
         <div><h2>伊地知 敬 </h2>
               <a class="ext-link" href="https://orcid.org/0000-0003-2745-3205">
               <img src="images/orcid-logo.png" width="32" height="32" alt="OrcID Profile"/>
               </a>
               <a class="ext-link" href="https://scholar.google.com/citations?user=FD8MLP8AAAAJ&hl=ja">
               <img src="images/gscholar-logo.png" width="32" height="32" alt="Google Scholar Profile"/>
               </a>
         </div>
    </div>

    <p> 海洋乱流混合の定量化、および、その海洋大循環場に果たす役割に興味があります。特に、海洋大循環モデルで内的に再現できない乱流混合の強度や効率が、
        乱流の駆動メカニズムの違いに応じて、どのような外部パラメータでどのように推定されるのかを、観測と理論の両面から研究しています。詳しくは、
        <a href="https://doi.org/10.5928/kaiyou.33.1-2_1">伊地知 (2024)</a> をご覧ください。</p>
    <ol>
        <li><a href="https://www.s.u-tokyo.ac.jp/ja/people/ijichi_takashi/">メールアドレス・電話番号・研究の概要</a></li>
        <li><a href="https://orcid.org/0000-0003-2745-3205">経歴・論文</a></li>
    </ol>
<!-- -->
    <div class="row" style="margin; lem 0 lem 0;">
         <div id="noface"></div>
         <div><h2>網敷 一歩 </h2>
         </div>
    </div>
    <p> </p>
    <div class="row" style="margin; lem 0 lem 0;">
         <div id="noface"></div>
         <div><h2>石井 杜和 </h2>
         </div>
    </div>
    <p> </p>
    <p class="bordered"> 
〒113-0033
東京都文京区本郷7-3-1
東京大学大学院 理学系研究科 地球惑星科学専攻 大気海洋科学講座</p>
{{>site/templates/footer.html}}
</body>
</html>
