<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{siteAuthor}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{siteTitle}}</title>
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <link rel="stylesheet" href="css/neat.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    {{>site/templates/header.html}}
    <div class="headerlike-right"><a href="index.html" style="font-weight: bold;">日本語</a></div>
    <h1> Ocean General Circulation Research Group </h1>
<!-- -->
    <div class="row" style="margin; lem 0 lem 0;">
         <div id="katsface"></div>
         <div><h2>K. Katsumata </h2>
               <a class="ext-link" href="https://orcid.org/0000-0002-4683-7610">
               <img src="images/orcid-logo.png" width="32" height="32" alt="OrcID Profile"/>
               </a>
               <a class="ext-link" href="https://github.com/{{githubUser}}">
               <img src="images/github-logo.png" width="32" height="32" alt="Github Profile"/>
               </a>
               <a class="ext-link" href="https://bsky.app/profile/{{bskyHandle}}">
               <img src="images/Bluesky.png" width="32" height="32" alt="BlueSky Profile"/>
               </a>
         </div>
    </div>

    <p> Ocean is turbulent. However it shows some order, such as currents. How can we understand this system? With this question in mind, I look at data collected by floats, ships, and satellites.</p>
    <ol>
        <li><a href="https://www.s.u-tokyo.ac.jp/en/people/katsumata_katsuro/">Contacts, research subject</a></li>
        <li><a href="https://researchmap.jp/kkatsumata/?lang=en">About</a></li>
        <li><a href="research/research-e.html">Research</a></li>
        <li><a href="https://secure.eps.s.u-tokyo.ac.jp/en/member/index.php?_urid=4903&_lang=en">Research in 10 lines</a>, 
            <a href="https://www-aos.eps.s.u-tokyo.ac.jp/en/staff.html">Research in 5 lines</a></li>
    </ol>
<!-- -->
    <div class="row" style="margin; lem 0 lem 0;">
         <div id="ijichiface"></div>
         <div><h2>Takashi Ijichi </h2>
               <a class="ext-link" href="https://orcid.org/0000-0003-2745-3205">
               <img src="images/orcid-logo.png" width="32" height="32" alt="OrcID Profile"/>
               </a>
               <a class="ext-link" href="https://scholar.google.com/citations?user=FD8MLP8AAAAJ&hl=en">
               <img src="images/gscholar-logo.png" width="32" height="32" alt="Google Scholar Profile"/>
               </a>
         </div>
    </div>

    <p> I am interested in quantifying ocean turbulence. I am also interested in the role played by turbulence in forming the ocean general circulation.
        In particular, I study how strength and efficiency of oceanic turbulence that cannot be simulated in numerical models can be estimated from observed
        parameters, depending on mechanisms of the turbulence. I approach the problem both theoretically and observationally. For detail,
        please have a look at <a href="https://doi.org/10.5928/kaiyou.33.1-2_1">伊地知 (2024)</a> </p>
    <ol>
        <li><a href="https://www.s.u-tokyo.ac.jp/en/people/ijichi_takashi/">Contacts, research subject</a></li>
        <li><a href="https://orcid.org/0000-0003-2745-3205">About</a></li>
    </ol>
<!-- -->
    <div class="row" style="margin; lem 0 lem 0;">
         <div id="noface"></div>
         <div><h2>Kazuho Amishiki</h2>
         </div>
    </div>
    <p> </p>
    <div class="row" style="margin; lem 0 lem 0;">
         <div id="noface"></div>
         <div><h2>Morikazu Ishii</h2>
         </div>
    </div>
    <p> </p>
    <p class="bordered"> 
Atmosphere &amp; Ocean Science,
Department of Earth &amp; Planetary Science,
Graduate School of Science, University of Tokyo,
7-3-1 Hongo Bunkyoku Tokyo, 113-0033, Japan.</p>
{{>site/templates/footer.html}}
</body>
</html>
