<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{author}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
      {{>site/templates/meta-data.html}}
    <title>{{title}}</title>
    <link rel="icon" type="image/ico" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/neat.css">
    <link rel="stylesheet" href="../css/custom.css">
    <!-- https://www.tohoho-web.com/ex/mathjax.html -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
      {{>site/templates/header1.html}}

<div id="page">
    <div class="wrapper">
        <div class="masthead">
            <span class="title">
            <h1>
                {{title}}
            </h1>
            </span>
            <br>

            {{#image}}
            <img class="post-image" src="/images/{{image}}">
            {{/image}}
            <br>
            {{#author}}
            <span class="byline">by {{author}}</span>
            {{/author}}
            <br>
            <span class="date">{{date}}</span>
            <br>
            <div class="metadata">
            </div>
            <div class="tags">
              {{#tags}}
              <span class="tag {{.}}"> <span class="margin"><a href="../tags/{{.}}.html">{{.}}</a></span></span>
              {{/tags}}
            </div>
        </div>
    </div>
    <article class="post">
        {{{content}}}

</article>

</div>

{{>site/templates/footer.html}}
