<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/neat.css">
    <link rel="stylesheet" href="../css/custom.css">
</head>
{{>site/templates/header1.html}}
<body>
<div id="page">
   <div class="wrapper">
      <div class="mathead">
        <span class="title">
        <h1>
            Tag: {{tagtag}}
        </h1>
        </span>
      </div>
   </div>
<section class="table-of-conents">
<div class="metadata"></div>
<ul>
    {{#tagposts}}
        <li>
            <a href="../posts/{{url}}">{{title}} <span class="date">{{date}}</span> </a>
        </li>
    {{/tagposts}}
</ul>
</section>
</div>
{{>site/templates/footer.html}}
</body>
</html>
